/* applying box size padding and margin too all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*applies backgroud color to the enite body*/
body {
    background-color: #d9dcd6;
}
/*changed header to an element*/
/*from a class. applys style changes to header element.*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*changed header to an element from a class.*/
/* applies style changes to the h1 element inside the header element*/
header h1 {
    display: inline-block;
    font-size: 48px;
}
/*changed header to an element from a class.*/
/* changes font color to the seo class inside the h1 element inside the header element*/
header h1 .seo {
    color: #d9dcd6;
}
/*changed header to an element from a class.*/
/* appplies changes to the div element inside the header element*/
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*changed header to an element from a class*/
/*style changes to ul element in div in header*/
header div ul {
    list-style-type: none;
}
/*changed header to an element from a class*/
/*style changes to li element in ul in div in header*/
header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*style changes to anchor element*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*chages font size in paragraph elements*/
p {
    font-size: 16px;
}
/*style changes to hero class*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*set style for float left calss*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*sets style for float right class*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*sets style for content element*/
/*changed content to elemnet from class*/
content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*sets style for benefits class*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    
}

/*added new class to reduce code*/
/*sets style in benefit-marketing class*/
.benefit-marketing {
    margin-bottom: 32px;
    color: #ffffff;
}

/*sets style in h3 element in benefit-marketing class*/
.benefit-marketing h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*sets style in img element in benefit-marketing class*/
.benefit-marketing img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*removed redundant code*/
/*
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
*/

/*added new class to reduce code*/
/*sets style in marketing class*/
.marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*sets style in img element in marketing class*/
.marketing img {
    max-height: 200px;
}

/*sets style in h2 element in marketing class*/
.marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*removed redundant code*/
/*
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
*/

/*changed footer from class to element*/
/*style changes to footer element*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*style chaged for h2 element in the footer elememt*/
footer h2 {
    font-size: 20px;
}
